*.pyc
*.pyo

doc
doc/api-objects.txt
doc/crarr.png
doc/epydoc.css
doc/epydoc.js
doc/*.html
data/plugins

po/*/
po/POTFILES.in

backup.bzr
random
exaile-dist.tar.bz2
exaile-po.tar.bz2
build
dist

doc/_build

.DS_Store

# Eclipse settings
.project
.pydevproject

# Vim Pymode settings
.ropeproject
