version: "{branch}-{build}"

image: Visual Studio 2019

environment:
  APPVEYOR_SAVE_CACHE_ON_ERROR: "true"
  build_dir: C:\msys64\home\appveyor
  build_root: exaile\tools\installer\_build_root
  build_root_slash: exaile/tools/installer/_build_root
  sdk_name: exaile-sdk-win
  sdk_ver: 35
  sdk_url: https://github.com/exaile/$(sdk_name)/releases/download/$(sdk_name)-$(sdk_ver)/$(sdk_name)-$(sdk_ver).tar.zst

clone_folder: $(build_dir)\$(APPVEYOR_PROJECT_NAME)

clone_depth: 1

cache:
  - C:\msys64\var\cache\pacman\pkg
  - '%build_dir%\%sdk_name%-%sdk_ver%.tar.zst'

init:
  - cmd: |
      REM Update PATH for Bash
      set hostbash=C:\msys64\usr\bin\bash.exe
      set sdkbash=%build_dir%\%build_root%\usr\bin\bash.exe
      set GTK_SDK_VERBOSE=1
      set MAKEFLAGS=-j2
      IF "%APPVEYOR_REPO_TAG%" == "true"  (set DIST_VERSION=%APPVEYOR_REPO_TAG_NAME%)
      IF "%APPVEYOR_REPO_TAG%" == "true"  (set dist_name=%APPVEYOR_PROJECT_NAME%-%APPVEYOR_REPO_TAG_NAME%)
      IF "%APPVEYOR_REPO_TAG%" == "false" (set dist_name=%APPVEYOR_PROJECT_NAME%-%APPVEYOR_BUILD_NUMBER%)
      echo Using dist_name %dist_name%

      REM Show detailed package statistics on pacman -S
      echo [options]>> C:\msys64\etc\pacman.conf
      echo VerbosePkgLists>> C:\msys64\etc\pacman.conf

install:
  - cmd: |
      %hostbash% -lc "pacman --noconfirm --noprogressbar -S zstd"
      cd %build_dir%
      git clone --depth=1 https://github.com/exaile/python-gtk3-gst-sdk.git
      %hostbash% -lc "[ -f $sdk_name-$sdk_ver.tar.zst ] || time curl -qfLo $sdk_name-$sdk_ver.tar.zst $sdk_url"

before_build:
  - cmd: |
      mkdir %build_root%
      %hostbash% -lc "time tar -xf $sdk_name-$sdk_ver.tar.zst -C $build_root_slash"
      %sdkbash% -lc exit

build_script:
  - cmd: |
      %sdkbash% -lc "cd ""$build_dir/exaile/tools/installer"" && time ../../../python-gtk3-gst-sdk/win_installer/build_win32_installer.sh"

after_build:
  - cmd: |
      move "exaile\tools\installer\exaile-LATEST.exe" "%APPVEYOR_BUILD_FOLDER%\%dist_name%.exe"

artifacts:
  - path: $(dist_name).exe
    name: dist

deploy:
  provider: GitHub
  tag: $(APPVEYOR_REPO_TAG_NAME)
  description: ""
  draft: true
  auth_token:
    secure: SIgbVNCx4ge9VT0J/0X8kovjreWVKJyWiquTLXmoUZItQk5aNr5jl1KNbOiTPdeu # exailebot's access token
  artifact: dist
  on:
    APPVEYOR_REPO_TAG: true
