[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Exaile!
GenericName=Music Player
GenericName[de_DE]=Musik-Wiedergabe
GenericName[en_GB]=Music Player
GenericName[fr]=Lecteur de musique
GenericName[it_IT]=Riproduttore Audio
GenericName[pt_BR]=Reprodutor de Música
Comment=Listen to, browse, or edit your audio collection
Comment[de_DE]=Audiodateien und -streams wiedergeben, verwalten und Tags bearbeiten
Comment[fr]=Écouter, parcourir et gérer votre musique
Comment[it_IT]=Ascolta, sfoglia o modifica la tua raccolta musicale
Comment[pt_BR]=Escute, gerencie ou edite sua coleção de músicas
Exec=exaile
Terminal=false
Type=Application
Icon=exaile.png
Categories=Application;AudioVideo;AudioPlayer;GTK
MimeType=audio/x-musepack;application/x-musepack;audio/musepack;application/musepack;application/x-ape;audio/ape;audio/x-ape;audio/x-musepack;application/x-musepack;audio/musepack;application/musepack;application/x-ape;audio/ape;audio/x-ape;audio/x-mp3;application/x-id3;audio/mpeg;audio/x-mpeg;audio/x-mpeg-3;audio/mpeg3;audip/mp3;audio/x-mp3;application/x-id3;audio/mpeg;audio/x-mpeg;audio/x-mpeg-3;audio/mpeg3;audip/mp3;audio/x-m4a;audio/x-m4a;audio/mpc;audio/x-mpc;audio/mp;audio/x-mp;audio/mpc;audio/x-mpc;audio/mp;audio/x-mp;application/ogg;application/x-ogg;audio/vorbis;audio/x-vorbis;audio/ogg;audio/x-ogg;application/ogg;application/x-ogg;audio/vorbis;audio/x-vorbis;audio/ogg;audio/x-ogg;audio/x-flac;application/x-flac;audio/flac;audio/x-flac;application/x-flac;audio/flac;
