Source: exaile
Section: sound
Priority: optional
Maintainer: Aren Olson <reacocard@gmail.com>
Build-Depends: debhelper (>= 5), python-dev, python-gtk2-dev
Standards-Version: 3.7.2

Package: exaile
Architecture: any
Depends: gstreamer0.10-plugins-good, python-gst0.10, python, 
 python-gtk2, python-glade2, python-dbus, python-pyvorbis,
 python-mutagen, python-pysqlite2 | python (>= 2.5), 
 python-elementtree | python (>= 2.5)
Recommends: python-gnome-extras, python-cddb, sexy-python, 
 gstreamer0.10-gnomevfs
Suggests: gstreamer0.10-plugins-bad, gstreamer0.10-plugins-ugly
Description: An AmaroK-like media player
 Exaile is a media player aiming to be similar to KDE's AmaroK, but for 
 GTK+. It incorporates many of the cool things from AmaroK (and other 
 media players) like automatic fetching of album art, handling of large 
 libraries, lyrics fetching, artist/album information from Wikipedia, 
 last.fm support, an OSD, a powerful set of plugins and much more.
