# Our SDK tool is designed for local use, where you'd run build_win32_sdk.sh
# and build_win32_installer.sh in succession, so both the SDK and the host MSYS
# environments depend on the same MSYS runtime version.
#
# This is not possible in our CI setup, where the SDK can be built a long time
# before the installer. If you try to mix two MSYS environments that have
# significantly diverged, things will crash.
#
# So for CI we include the following packages in the SDK (see the SDK's
# appveyor.yml) and avoid the need for the host MSYS during installer creation.

# Only define TARGET_DOWNLOAD_PKGS on local build or when building the SDK
if [ -z "$CI" -o "$APPVEYOR_PROJECT_NAME" == "exaile-sdk-win" ]; then
  TARGET_DOWNLOAD_PKGS="
    git
    make
    tar
    mingw-w64-i686-python3-bsddb3
  "
fi
