[Desktop Entry]
Version=1.0
Type=Application
Name=Exaile
GenericName=Music Player
GenericName[de]=Musik-Wiedergabe
GenericName[fi]=Musiikkisoitin
GenericName[en_GB]=Music Player
GenericName[fr]=Lecteur de musique
GenericName[hu]=Zene lejátszó
GenericName[it_IT]=Riproduttore Audio
GenericName[nn]=Musikkavspelar
GenericName[pl]=Odtwarzacz muzyki
GenericName[pt_BR]=Reprodutor de Música
GenericName[ro]=Program de ascultat muzică
GenericName[sv]=Musikspelare
X-GNOME-FullName=Exaile Music Player
X-GNOME-FullName[de]=Exaile Musik-Wiedergabe
X-GNOME-FullName[fi]=Musiikkisoitin Exaile
X-GNOME-FullName[fr]=Lecteur de musique Exaile
X-GNOME-FullName[nn]=Exaile musikkavspelar
X-GNOME-FullName[pl]=Odtwarzacz muzyki Exaile
X-GNOME-FullName[pt_BR]=Reprodutor de Música Exaile
X-GNOME-FullName[sv]=Musikspelaren Exaile
Comment=Listen to, explore, or manage your audio collection
Comment[de]=Audiodateien und -streams wiedergeben, verwalten und Tags bearbeiten
Comment[fi]=Kuuntele, selaa, tai hallitse musiikkikokoelmaasi
Comment[fr]=Écouter, parcourir et gérer votre musique
Comment[hu]=Zene-, és stream lejátszás, és tag módosítás
Comment[it_IT]=Ascolta, sfoglia o modifica la tua raccolta musicale
Comment[nn]=Høyr på, utforsk og handsam musikksamlinga di
Comment[pl]=Słuchanie, przeglądanie i modyfikowanie twojej kolekcji muzyczynej
Comment[sv]=Spela, utforska och hantera din musiksamling
Comment[pt_BR]=Escute, gerencie ou edite sua coleção de músicas
Comment[ro]=Ascultați, răsfoiți sau editați-vă colecția de muzică
Icon=exaile
Exec=exaile %F
Terminal=false
MimeType=audio/musepack;application/musepack;application/x-ape;audio/ape;audio/x-ape;audio/x-musepack;application/x-musepack;audio/x-mp3;application/x-id3;audio/mpeg;audio/x-mpeg;audio/x-mpeg-3;audio/mpeg3;audio/mp3;audio/x-m4a;audio/mpc;audio/x-mpc;audio/mp;audio/x-mp;application/ogg;application/x-ogg;audio/vorbis;audio/x-vorbis;audio/ogg;audio/x-ogg;audio/x-flac;application/x-flac;audio/flac;
Categories=AudioVideo;Audio;Player;GTK;
